/* Acá empieza el estilo base para todas las vistas */
*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: grid;
    grid-template-rows: 58px 1fr 48px;
    height: 100vh;
}

.header{
    grid-row: 1/span 1;
    grid-column: auto;
    /* height: 58px; */
    background-color: #222222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 90%;
    margin: 5px;
}

/* Estilo y animación menú */

.hamburguesa{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: flex-end; */
}

.hamburguesa:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/* Ahora la animación de la hamburguesa */

.hamburguesa:hover .linea:first-of-type{
    transform: rotate(45deg);
    position: absolute;
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:nth-of-type(2){
    transform: scale(0);
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:last-of-type{
    transform: rotate(-45deg);
    position: absolute;
    transition-duration: 600ms;
}

.linea{
    background-color: black;
    border-radius: 5px;
    width: 70%;
    height: 3px;
    margin: 2px;
}

/* Acá termina la animación de la hamburguesa */

.footer{
    grid-row: 3/span 1;
    grid-column: auto;
    /* height: 48px; */
    background-color: #222222;
    /* position: absolute; */

}

.main{
    grid-row: 2/span 1;
    grid-column: auto;
}

/* Acá termina el estilo base de todas las vistas */

.main{
    background-color: palevioletred;
    /* height: 100%; */
    background-image: url("img/fondoHome.png");
    /* width: 85%; */
}
