/* Acá empieza el estilo base para todas las vistas */
*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: grid;
    grid-template-rows: 8% 1fr 7%;
    height: 100vh;
}

.header{
    grid-row: 1/span 1;
    grid-column: auto;
    /* height: 58px; */
    background-color: #222222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 90%;
    margin: 5px;
}

/* Estilo y animación menú */

.hamburguesa{
    /* background-color: antiquewhite; */
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: flex-end; */
}

.hamburguesa:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/* Acá empieza la animación de la hamburguesa */

.hamburguesa:hover .linea:first-of-type{
    transform: rotate(45deg);
    position: absolute;
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:nth-of-type(2){
    transform: scale(0);
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:last-of-type{
    transform: rotate(-45deg);
    position: absolute;
    transition-duration: 600ms;
}

.linea{
    background-color: #fcfcfc;
    border-radius: 5px;
    width: 70%;
    height: 3px;
    margin: 2px;
}

/* Acá termina la animación de la hamburguesa */

.footer{
    grid-row: 3/span 1;
    grid-column: auto;
    background-color: #222222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer a{
    margin: 0 0.6%;
    height: 35.4%;
}

.footer a:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.main{
    grid-row: 2/span 1;
    grid-column: auto;
    background-color: #222222;
    overflow: auto;
}

.contenido{
    background-color: rgba(106, 27, 154, 0.73);
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.2s;
}

.seccion{
    text-transform: uppercase;
    background-color: transparent;
    color: #fcfcfc;
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    line-height: 1.21;
    border-color: transparent;
}

.seccion:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.toggle{
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: ease-out 0.2s;
}

/* Acá termina el estilo base de todas las vistas */