*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 15% 1fr 25% / 15% 1fr;
    /* display: flex;
    flex-wrap: wrap; */
}

.header{
    background-image: url("../img/Fondo_Cruz.jpg");
    /* background-image: url("https://scontent.fcor2-2.fna.fbcdn.net/v/t1.0-9/s960x960/51133912_2493680130661406_7075986219619844096_o.png?_nc_cat=104&_nc_ohc=oUy9CqWPWkgAQmAZ93dLBRepf8p4t7goW7_SfFGjg6GIo9Zrnp2J9N3jA&_nc_ht=scontent.fcor2-2.fna&oh=46f0f6927fc11e67e90f40d5acfcfdb5&oe=5E7E892C"); */
    background-color: green;
    /* width: 100%;
    height: 15%; */
    grid-column: 1/span 2;
    grid-row: 1/span 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* justify-self: center; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 90%;
    margin: 5px;
}

.hamburguesa{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: flex-end; */
}

.hamburguesa:hover{
    transform: scale(1.03);
    cursor: pointer;
}

/* Ahora la animación de la hamburguesa */

.hamburguesa:hover .linea:first-of-type{
    transform: rotate(45deg);
    position: absolute;
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:nth-of-type(2){
    transform: scale(0);
    transition-duration: 600ms;
}
.hamburguesa:hover .linea:last-of-type{
    transform: rotate(-45deg);
    position: absolute;
    transition-duration: 600ms;
}

.linea{
    background-color: black;
    border-radius: 5px;
    width: 70%;
    height: 3px;
    margin: 2px;
}

.aside{
    background-color: blueviolet;
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    /* height: 60%;
    width: 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.evento{
    background-color: bisque;
    height: 150px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
}

.calendario{
    background-color: yellow;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    /* height: 100%; */
    /* width: 15%; */
    /* align-self: flex-end; */
    /* position: absolute; */
    /* z-index: 10; */
}

.main{
    background-color: palevioletred;
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    /* height: 85%;
    width: 85%; */
}
