.cruz-cruz-disco-2 {
    width: 1366px;
    height: 768px;
    background-color: #5a21e0;
}
._3063835050312575d_8782121579493457920_o {
    width: 736px;
    height: 662px;
    object-fit: contain;
  }
  .El-lugar-donde-verdaderamente-se-disfruta-la-noche {
    width: 339px;
    height: 72px;
    font-family: BebasNeue;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.45px;
    text-align: left;
    color: #fcfcfc;
  }
  .Cruz-Espacio-le-brinda-una-experiencia-destinada-a-impresionar-a-todos-sus-sentidos-Las-propuestas-artsticas-son-un-diferencial-de-Cruz-Espacio-As-durante-cada-noche-los-ms-variados-eventos-y-la-mejor-msica-se-complementan-incluyendo-la-presencia {
    width: 451px;
    height: 283px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #fcfcfc;
  }
  .Comprar-entradas {
    width: 188px;
    height: 30px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #fcfcfc;
  }
  .Rectngulo-38 {
    width: 232px;
    height: 59px;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.16);
    background-color: #c62828;
  }